#navbar{
    display: flex;
    background-color: #2f9bdb;
    color: white;
    justify-content:space-between;
    padding-left: 30px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
}
#navbar>div{
    display: flex;
    justify-content: center;
    gap: 30px;
}